<div class="card" style="width: 20rem">
  <div class="card-body">
    <h5 class="card-title">Custome Acquisition Campeign</h5>
    <h6 class="card-subtitle mb-2 text-muted">&#64;customer-acquisition</h6>
    <p class="card-text">Team to come up with stratergies</p>
    <p class="card-text">
      <button class="btn btn-danger">Excuse yourself</button>
    </p>
    <hr />
    <p class="card-text">
      <strong>Members: </strong>
      john&#64;example.com, jane&#64;example.com
    </p>

    <div class="display-center">
      <select class="form-select w-75" id="teams" name="teams">
        <option value="">Select Member</option>
      </select>
      <button class="btn btn-info">Add</button>
    </div>
  </div>
</div>
